{% extends 'page.html' %}

{% set fragment = 'place' %}

{% block heading %}{% endblock heading %}

{% block breadcrumbs_inner %}
    <li class="active">ASNs</li>
{% endblock breadcrumbs_inner %}

{% block content %}
<header id="asn-intro" class="page-header">
  <h1>ASN overview {{ page.year }}</h1>
  <hr />
  <p>An <a href="https://en.wikipedia.org/wiki/Autonomous_system_(Internet)">Autonomous System Number</a> ("ASN") describes a unique number assigned to each so-called Autonomous System. A Autonomous System is a group of IP networks with a clearly defined routing policy. Usually an AS coincides with the concept of an Internet Service Provider (ISP). However it must be noted that nowadays, many (larger) ISPs might even have multiple ASNs. While actually used for Routing purposes on the Internet, in the context of CyberGreen, an ASN is the smallest unit of aggregation. 
<a href="https://www.apnic.net/get-ip/faqs/asn">Read more...</a>.</p>
<p>The table below lists countries and the ASNs associated (according to the respective <a href="https://en.wikipedia.org/wiki/Regional_Internet_registry">RIR</a>) with the given country.</p>
  {{ page.content }}
</header>

<div class="row">
  <div class="col-md-12">
    <h4>Search</h4>
    <form role="form" class="form-inline data-table-tools">
      <div class="form-group">
        <input class="form-control filter-table" type="search" name="filter-table" placeholder="Search for a place" />
      </div>
    </form>
  </div>
</div>

<class="table-responsive">
  <table id="place-slice-table" class="table data-table table-header-stuck">
    <thead>
      <th class="sort_place" title="Sort by A-Z">Place</th>
      <th>Number of ASNs</th>
      <th>Link</th>
    </thead>
    <tbody>
    {% for results in asnCount %}
      <tr data-place="{{ results.name }}">
        <td>
          <span>{{ results.name }}</span>
        </td>
        <td class="asns">
          <span>{{ results.count }}</span>
        </td>
        <td><a href="/place/{{ results.slug }}/">Read more</a>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
