{% extends 'page.html' %}


{% block breadcrumbs_inner %}
  <li class="active">Download</li>
{% endblock breadcrumbs_inner %}


{% block content %}
<section class="row">
    <div class="col-md-12">
    {{ page.content }}
    </div>
  <div class="col-md-4">
    <div class="">
      <h3>CSV</h3>
      <p>Data in CSV format.</p>
      <ul>
        <li>
          <a href="https://s3-eu-west-1.amazonaws.com/bits.cybergreen.net/stats/latest/country000">
            Full risk data
          </a>
        </li>
        <li>
          <a href="https://raw.githubusercontent.com/cybergreen-net/stats-new/master/tests/fixtures/country.csv">
            Country rank data
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="">
      <h3>JSON</h3>
      <p>Data in JSON format.</p>
      <ul>
        <li>
          <a href="/api/v1/count_by_country">
            Full risk data
          </a>
        </li>
        <li>
          <a href="/api/v1/country">
            Country rank data
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

{% endblock content %}
