{% extends 'page.html' %}

{% block heading %}{% endblock heading %}
{% block breadcrumbs_inner %}
  <li class="active">Download and API</li>
{% endblock breadcrumbs_inner %}


{% block content %}
<section class="row">
  <header  class="page-header">
    <h1>Download</h1>
  </header>

<div>
{% markdown %}
# Aggregated data format

We currently provide full data dumps of our aggregated data sets.
The CSV format is:

`` risk,country,date,count,score,rank ``

In addition to the above CSV format, we also provide a JSON download.
{% endmarkdown %}
  </div>
  <div>
    <div class="">
      <h3>CSV</h3>
      <p>Data in CSV format.</p>
      <ul>
        <li>
          <a href="http://bits.cybergreen.net/stats/latest/country.csv">
            Full risk data
          </a>
        </li>
        <li>
          <a href="http://bits.cybergreen.net/stats/latest/count.csv">
            Full count data (by ASN, Country, and week)
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="row">
  <h2>API v1</h2>
    <p>The Cybergreen RESTful API allows for queries against our databases</p>
    <p>The base URL is <code>/api/v1/</code>. Append the desired path and your parameters to get the required URL, using the format:</p>
    <code>/api/v1/[path]?[parameter-a]&[parameter-b]&[parameter-n]</code>
    <p>Where an example parameter might be <code>risk=openntp</code></p>
    <h3>Limits</h3>
    <p>The limit by default is 2000. This can be cahnged by setting <code>limit=n</code> inside query string</p>
    <p>
      Examples:
      <br>
      Query string - <code>/api/v1/count?limit=1</code>
      <br>
      Result - <code>[{"country":"AD","risk":1,"asn":"6752","date":"2016-08-15","period_type":"monthly","count":"67"}]</code>
      <br>
      Query string - <code>/api/v1/count?country=gb&limit=1</code>
      <br>
      Result - <code>[{"country":"GB","risk":1,"asn":"33","date":"2016-08-15","period_type":"monthly","count":"2"},{"country":"GB","risk":1,"asn":"174","date":"2016-08-15","period_type":"monthly","count":"288"}]</code>
    </p>
    <h3>Order</h3>
    <p>
      All results that contain <code>date</code> parameter, by default are order by date in descending order
      (most date recent first). This can be cahnged by setting <code>order=asc</code> inside query sting.
    </p>
    <p>
      Examples:
      <br>
      Query string - <code>/api/v1/count?limit=3</code>
      <br>
      Result -
      <code>
        [{"country":"AE","risk":2,"asn":"8966","date":"2013-12-30","period_type":"monthly","count":"93"},
        {"country":"AE","risk":2,"asn":"15412","date":"2013-12-29","period_type":"monthly","count":"4"},
        {"country":"AE","risk":2,"asn":"15802","date":"2013-12-28","period_type":"monthly","count":"231"}]
      </code>
      <br>
      <br>
      Query string - <code>/api/v1/count?order=asc&limit=3</code>
      <br>
      Result -
      <code>
        [{"country":"AE","risk":2,"asn":"8966","date":"2013-12-28","period_type":"monthly","count":"93"},
        {"country":"AE","risk":2,"asn":"15412","date":"2013-12-29","period_type":"monthly","count":"4"},
        {"country":"AE","risk":2,"asn":"15802","date":"2013-12-30","period_type":"monthly","count":"231"}]
      </code>
    </p>
    <h3>Paths</h3>
    <p>These are the paths, with example datasets, to help you set your parameters:</p>
    <h4><b>/count_by_country</b></h4>
    <p>Available query parameters: <code>risk</code>, <code>country</code>, <code>date</code></p>
    <p>
      Example:
      <br>
      Query string - <code>/api/v1/count_by_country?risk=opendns&country=gb&date=2016-08-01</code>
      <br>
      Result - <code>[{"risk":"opendns","country":"gb","date":"2016-08-01","count":"278307","score":85,"rank":0}]</code>
      <br>
    </p>
    <h4><b>/risk</b></h4>
    <p>Available query parameters: <code>risk_id</code>, <code>id</code></p>
    <p>
      Example:
      <br>
      Query string - <code>/api/v1/risk?risk_id=1</code>
      <br>
      Result - <code>[{"risk_id":1,"id":"opendns","title":"Open DNS","total":3865270,"max":539540,"min":10,"mean":18062,"score":49,"rank":null,"place_count":214,"icon":null,"category":null,"description":"The Domain Name System (DNS) is pervasive..."}]</code>
      <br>
    </p>
    <h4><b>/country</b></h4>
    <p>
      Available query parameters: <code>id</code>
      where id is <b>ISO 3166-1 alpha-2 code</b>.
    </p>
    <p>
      Examples:
      <br>
      Query string - <code>/api/v1/country?id=gb</code>
      <br>
      Result - <code>[{"id":"gb","name":"United Kingdom","slug":"united-kingdom","region":"Europe","continent":"Europe","score":24.35,"rank":207}]</code>
      <br>
    </p>
    <h4><b>/count</b></h4>
    <p>
      Available query parameters:
      <br>
      <code>country</code> - <b>ISO 3166-1 alpha-2 code</b>
      <br>
      <code>asn</code> - Unic Autonomous System Number (ASN)
      <br>
      <code>date</code> - Exact ISO 8601 formated date
      <br>
      <code>start</code> - Start date
      <br>
      <code>end</code> - End date
    </p>
    <p>
      Examples:
      <br>
      Query string - <code>/api/v1/count?asn=6752&date=2016</code>
      <br>
      Result -
      <code>
        [{"country":"AD","risk":1,"asn":"6752","date":"2016-08-15","period_type":"monthly","count":"67"},
        {"country":"AD","risk":5,"asn":"6752","date":"2016-08-15","period_type":"monthly","count":"371"},
        {"country":"AD","risk":4,"asn":"6752","date":"2016-08-15","period_type":"monthly","count":"61"}]
      </code>
      <br>
      <br>
      Query string - <code>/api/v1/count?asn=6752&start=2016-05-31&end=2016-07-01&limit=3</code>
      <br>
      Result -
      <code>
        [{"country":"AD","risk":5,"asn":"6752","date":"2016-06-27","period_type":"monthly","count":"434"},
        {"country":"AD","risk":4,"asn":"6752","date":"2016-06-27","period_type":"monthly","count":"71"},
        {"country":"AD","risk":1,"asn":"6752","date":"2016-06-27","period_type":"monthly","count":"70"}]
      </code>
      <br>
    </p>
    <h4><b>/asn</b></h4>
    <p>
      Available query parameters: <code>country</code>, <code>asn</code>
    </p>
    <p>
      Example:
      <br>
      Query string - <code>/api/v1/asn?asn=41152</code>
      <br>
      Result - <code>[{"country":"ae","asn":"41152","time":"2016-08-17T00:00:00.000Z"}]</code>
      <br>
    </p>    
</section>

{% endblock content %}
