{% extends 'page.html' %}

{% block heading %}{% endblock heading %}
{% block breadcrumbs_inner %}
  <li class="active">Download and API</li>
{% endblock breadcrumbs_inner %}


{% block content %}
<section class="row">
  <header  class="page-header">
    <h1>Download</h1>
  </header>

<div>
{% markdown %}
# Aggregated data format

We currently provide full data dumps of our aggregated data sets.
The CSV format is:

`` risk,country,date,count,score,rank ``

In addition to the above CSV format, we also provide a JSON download.
{% endmarkdown %}
  </div>
  <div>
    <div class="">
      <h3>CSV</h3>
      <p>Data in CSV format.</p>
      <ul>
        <li>
          <a href="http://bits.cybergreen.net/prod/clean/stats/latest/country.csv">
            Full risk data
          </a>
        </li>
        <li>
          <a href="http://bits.cybergreen.net/prod/clean/stats/latest/count.csv">
            Full count data (by ASN, Country, and week)
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="row">
  <h2>API v1</h2>
    <p>The Cybergreen RESTful API allows for queries against our databases</p>
    <p>The base URL is <code>/api/v1/</code>. Append the desired path and your parameters to get the required URL, using the format:</p>
    <code>/api/v1/[path]?parameter_a=a&amp;parameter_b=b&amp;parameter_n=n</code>
    <p>Where an example parameter might be <code>risk=openntp</code></p>

    <p>API Includes a pagination feature, where an API user can iterate through successive "pages"
    of results to get the full dataset. See the API specifications:</p>
{% markdown %}
    {
      "status":"ok", 
      "number_of_data_results":"1000", 
      "page":"/api/v1/count?page=1&",
      "total_pages":9496248,
      "next_page":"/api/v1/count?limit=1&page=2&",
      "status_code":200,
      "version":"1.2",
      "cached":false,
      "see_also":[],
      "time":"2016-11-02T16:25:22.481Z",
      "results":[{"country":"AD","risk":1,"asn":"6752","date":"2016-08-15","period_type":"monthly","count":"67"}]
    }

- status: Status indicator.
- number_of_data_results: Number of total results
- page: Link to current page, returns none if exceeds total number of pages
- total_pages: Total number of ages. Calculated by ceiling total number of results devided by limit <code>Math.ceil(total/limit)</code>
- next_page: Link to next page, returns none if current page is last
- status_code: Status code
- version: Current version
- cached: Cached or not
- time: Exact time result was generated
- results: List of records are available
{% endmarkdown %}    
    <h3>Limits</h3>
    <p>
      The limit by default is 20 per page. This can be cahnged by setting <code>limit=n</code>
      inside query string. Maximum value for limit may be 500. Indicating value for limit more than
      maximum valu, E.g: <code>Limit=1000</code> will result same as <code>Limit=500</code> 
    </p>
    <p>
      Examples:
      <br>
      Query string - <code>/api/v1/count</code>
      <br>
      Result:
{% markdown %}
    {
      "status":"ok",
      "number_of_data_results":"9496248",
      "page":"/api/v1/count?page=1&",
      "total_pages":474813,
      "next_page":"/api/v1/count?page=2&",
      "status_code":200,
      "version":"1.2",
      "cached":false,
      "see_also":[],
      "time":"2016-11-02T16:27:53.738Z",
      "results":[
        {"country":"AD","risk":1,"asn":"6752","date":"2016-08-15","period_type":"monthly","count":"67"},
        {"country":"AD","risk":1,"asn":"39020","date":"2016-08-15","period_type":"monthly","count":"68"},
        {"country":"AD","risk":1,"asn":"60485","date":"2016-08-15","period_type":"monthly","count":"250"},
        {"country":"AD","risk":2,"asn":"6752","date":"2016-08-15","period_type":"monthly","count":"61"},
        {"country":"AD","risk":4,"asn":"6752","date":"2016-08-15","period_type":"monthly","count":"61"},
        {"country":"AD","risk":5,"asn":"6752","date":"2016-08-15","period_type":"monthly","count":"371"},
        {"country":"AE","risk":1,"asn":"260","date":"2016-08-15","period_type":"monthly","count":"7"},
        {"country":"AE","risk":1,"asn":"5384","date":"2016-08-15","period_type":"monthly","count":"5396"},
        {"country":"AE","risk":1,"asn":"8966","date":"2016-08-15","period_type":"monthly","count":"39"},
        {"country":"AE","risk":1,"asn":"9009","date":"2016-08-15","period_type":"monthly","count":"38"},
        {"country":"AE","risk":1,"asn":"12653","date":"2016-08-15","period_type":"monthly","count":"2"},
        {"country":"AE","risk":1,"asn":"13126","date":"2016-08-15","period_type":"monthly","count":"9"},
        {"country":"AE","risk":1,"asn":"15802","date":"2016-08-15","period_type":"monthly","count":"1879"},
        {"country":"AE","risk":1,"asn":"17803","date":"2016-08-15","period_type":"monthly","count":"16"},
        {"country":"AE","risk":1,"asn":"18101","date":"2016-08-15","period_type":"monthly","count":"4"},
        {"country":"AE","risk":1,"asn":"20940","date":"2016-08-15","period_type":"monthly","count":"8"},
        {"country":"AE","risk":1,"asn":"23033","date":"2016-08-15","period_type":"monthly","count":"5"},
        {"country":"AE","risk":1,"asn":"24753","date":"2016-08-15","period_type":"monthly","count":"1"},
        {"country":"AE","risk":1,"asn":"29077","date":"2016-08-15","period_type":"monthly","count":"3"},
        {"country":"AE","risk":1,"asn":"30981","date":"2016-08-15","period_type":"monthly","count":"35"}
      ]
    }
{% endmarkdown %}
      <br>
      Query string - <code>/api/v1/count?limit=1</code>
      <br>
      Result:
{% markdown %}
    {
      "status":"ok",
      "number_of_data_results":"9496248",
      "page":"/api/v1/count?limit=1&page=1&",
      "total_pages":9496248,
      "next_page":"/api/v1/count?limit=1&page=2&",
      "status_code":200,
      "version":"1.2",
      "cached":false,
      "see_also":[],
      "time":"2016-11-02T16:25:22.481Z",
      "results":[{"country":"AD","risk":1,"asn":"6752","date":"2016-08-15","period_type":"monthly","count":"67"}]
    }
{% endmarkdown %}
    </p>
    <h3>Order</h3>
    <p>
      All results that contain <code>date</code> parameter, by default are order by date in descending order
      (most recent date first) and sort by country id (where available) alphabetically.
    </p>
    <h3>Paths</h3>
    <p>These are the paths, with example datasets, to help you set your parameters:</p>
    <h3><b>/count</b></h3>
    <p>
      Available query parameters:
      <br>
      <code>limit</code> - <b>Integer</b>
      <br>
      <code>page</code> - <b>Integer</b>
      <br>
      <code>country</code> - <b>String</b> - ISO 3166-1 alpha-2 code (case insensitive) 
      <br>
      <code>asn</code> - <b>Integer</b> - Unic Autonomous System Number (ASN)
      <br>
      <code>start</code> - <b>Exact ISO 8601 formated date</b> - Start date
      <br>
      <code>end</code> - <b>Exact ISO 8601 formated date</b> - End date
      <br>
    </p>
    <p>
      Examples:
      <br>
      Query string - <code>/api/v1/count?limit=3&asn=6752</code>
      <br>
      Result -
{% markdown %}
    {
      "status":"ok",
      "number_of_data_results":"338",
      "page":"/api/v1/count?asn=6752&limit=3&page=1&",
      "total_pages":113,
      "next_page":"/api/v1/count?asn=6752&limit=3&page=2&",
      "status_code":200,
      "version":"1.2",
      "cached":false,
      "see_also":[],
      "time":"2016-11-02T15:35:43.421Z",
      "results":[
        {"country":"AD","risk":1,"asn":"6752","date":"2016-08-15","period_type":"monthly","count":"67"},
        {"country":"AD","risk":2,"asn":"6752","date":"2016-08-15","period_type":"monthly","count":"61"},
        {"country":"AD","risk":4,"asn":"6752","date":"2016-08-15","period_type":"monthly","count":"61"}
      ]
    }
{% endmarkdown %}
      <br>
      <br>
      Query string - <code>/api/v1/count?limit=3&country=ge</code>
      <br>
      Result -
{% markdown %}
    {
      "status":"ok",
      "number_of_data_results":"13949",
      "page":"/api/v1/count?country=ge&limit=3&page=1&",
      "total_pages":4650,
      "next_page":"/api/v1/count?country=ge&limit=3&page=2&",
      "status_code":200,
      "version":"1.2",
      "cached":false,
      "see_also":[],
      "time":"2016-11-02T16:08:04.599Z",
      "results":[
        {"country":"GE","risk":1,"asn":"2116","date":"2016-08-15","period_type":"monthly","count":"19"},
        {"country":"GE","risk":1,"asn":"8513","date":"2016-08-15","period_type":"monthly","count":"2"},
        {"country":"GE","risk":1,"asn":"9144","date":"2016-08-15","period_type":"monthly","count":"2"}
      ]
    }
{% endmarkdown %}
      <br>
      <br>
      Query string - <code>/api/v1/count?start=2016-06-27&end=2016-07-01&limit=3</code>
      <br>
      Result -
{% markdown %}
    {
      "status":"ok",
      "number_of_data_results":"108881",
      "page":"/api/v1/count?start=2016-06-27&end=2016-07-01&limit=3&page=1&",
      "total_pages":36294,
      "next_page":"/api/v1/count?start=2016-06-27&end=2016-07-01&limit=3&page=2&",
      "status_code":200,
      "version":"1.2",
      "cached":false,
      "see_also":[],
      "time":"2016-11-02T15:51:33.841Z",
      "results":[
        {"country":"AD","risk":1,"asn":"6752","date":"2016-06-27","period_type":"monthly","count":"70"},
        {"country":"AD","risk":2,"asn":"6752","date":"2016-06-27","period_type":"monthly","count":"61"},
        {"country":"AD","risk":4,"asn":"6752","date":"2016-06-27","period_type":"monthly","count":"71"}
      ]
    }
{% endmarkdown %}
      <br>
      <br>
      Query string - <code>/api/v1/count?start=2016-06-27&end=2016-07-01&limit=3&page=36294</code> (last page)
      <br>
      Result -
{% markdown %}
    {
      "status":"ok",
      "number_of_data_results":"108881",
      "page":"/api/v1/count?start=2016-06-27&end=2016-07-01&limit=3&page=36294&",
      "total_pages":36294,
      "next_page":"null",
      "status_code":200,
      "version":"1.2",
      "cached":false,
      "see_also":[],
      "time":"2016-11-02T15:58:38.475Z",
      "results":[
        {"country":"ZW","risk":5,"asn":"30844","date":"2016-06-27","period_type":"monthly","count":"4"},
        {"country":"ZW","risk":4,"asn":"39356","date":"2016-06-27","period_type":"monthly","count":"2"}
      ]
    }
{% endmarkdown %}
      <br>
    </p>
    <h3><b>/count_by_country</b></h3>
    <p>
      Available query parameters:
      <br>
      <code>limit</code> - <b>Integer</b>
      <br>
      <code>page</code> - <b>Integer</b>
      <br>
      <code>risk</code> - <b>String</b> Name of risk without spaces
      <br>
      <code>country</code> - <b>String</b> - ISO 3166-1 alpha-2 code (case insensitive) 
      <br>
      <code>start</code> - <b>Exact ISO 8601 formated date</b> - Start date
      <br>
      <code>end</code> - <b>Exact ISO 8601 formated date</b> - End date
      <br>
    </p>
    <p>
      Example:
      <br>
      Query string - <code>/api/v1/count_by_country?risk=openntp&country=gb&limit=3</code>
      <br>
      Result:
{% markdown %}
    {
      "status":"ok",
      "number_of_data_results":"143",
      "page":"/api/v1/count_by_country?risk=openntp&country=gb&limit=3&page=1&",
      "total_pages":48,
      "next_page":"/api/v1/count_by_country?risk=openntp&country=gb&limit=3&page=2&",
      "status_code":200,
      "version":"1.2",
      "cached":false,
      "see_also":[],
      "time":"2016-11-03T10:06:28.206Z",
      "results":[
        {"risk":"openntp","country":"gb","date":"2016-09-19","count":"114842","score":85,"rank":0},
        {"risk":"openntp","country":"gb","date":"2016-09-12","count":"116401","score":85,"rank":0},
        {"risk":"openntp","country":"gb","date":"2016-09-05","count":"115195","score":85,"rank":0}
      ]
    }
{% endmarkdown %}
      <br>
    </p>
    <br>
</section>

{% endblock content %}
