{% extends 'page.html' %}

{% block main %}

<div id="home-about">
  <div class="container">

    <h2>FIND OUT HOW YOUR COUNTRY IS PERFORMING</h2>
    <div id="dropdown"></div>
    <h1>GLOBAL DDOS POTENTIAL</h1>
    <div id="ddos"></div>
    <div id="root"></div>
		<div>
			<script type="text/javascript" >
				var graphData = {{ graphData }}
        var countries = {{ countries }}
        var countryPerformanceOnRiskViews = {}

			</script>
			<script type="text/javascript" src="/static/vendor/cg-graphs/index.min.js"></script>
		</div>
	</div>
</div>

<!--<section id="home-visualisation" class="container">
  <div class="row map_visualisation">
    <div class="col-md-12 map">
      {% include 'dataviews/embed_map.html' %}
    </div>
  </div>
</section>-->

{% endblock main %}
