{% macro share(map, with_text=False) -%}
<div class="btn-group">
  <a href="" class="btn btn-default embed" data-toggle="modal" data-target="#embed-instructions">
    <i class="fa fa-code"></i>Embed
  </a>
  <a href="http://twitter.com/share?url={{ scope.siteurl }}/{{ scope.page.url }}&text={{ scope.social_share_text }}" class="btn btn-default twitter" target="_blank">
    <i class="fa fa-twitter"></i>{% if with_text %} Twitter{% endif %}
  </a>
  <a href="http://www.facebook.com/sharer/sharer.php?url={{ scope.siteurl }}/{{ scope.page.url }}" class="btn btn-default facebook" target="_blank">
    <i class="fa fa-facebook"></i>{% if with_text %} Facebook{% endif %}
  </a>
  <a href="https://plus.google.com/share?url={{ scope.siteurl }}/{{ scope.page.url }}" class="btn btn-default google-plus" target="_blank">
    <i class="fa fa-google-plus"></i>{% if with_text %} Google+{% endif %}
  </a>
</div>
<div class="modal fade" id="embed-instructions" tabindex="-1" role="dialog" aria-labelledby="embedLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="embedLabel">Map embed code</h4>
      </div>
      <div class="modal-body">
        <p>
            Use the following code to embed the map visualisation into your own website.
        </p>
        <xmp contenteditable="true"><iframe width="{{ map.embed_width }}" height="{{ map.embed_height }}" src="/vis/map/embed/?embed_width={{ map.embed_width }}&embed_height={{ map.embed_height }}&filter_year={{ map.filter_year }}&filter_dataset={{ map.filter_dataset }}&panel_tools={{ map.panel_tools }}&panel_share={{ map.panel_share }}{% if map.embed_title %}&embed_title={{ map.embed_title }}{% endif %}&map_place={{ map.map_place }}" frameBorder="0"></iframe></xmp>
     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}