{% extends 'page.html' %}

{% set fragment = 'place / {{ options[0].slug }}' %}

{% block heading %}{% endblock heading %}

{% block breadcrumbs_inner %}
  <li><a href="/place">Places</a></li>
  <li class="active">{{ options[0].name }}</li>
{% endblock breadcrumbs_inner %}

{% block content %}
<section id="data-header">
  <div class="row">
    <div class="col-md-6">
      <h1>
        <a href="/place/{{ options[0].slug }}/">{{ options[0].name }}</a>
      </h1>
      <div class="table-responsive">
        <table id="place-slice-table" class="table data-table table-header-stuck">
          <col style="width:15%">
          <col style="width:40%">
          <col style="width:15%">
          <col style="width:15%">
          <col style="width:15%">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Risk</th>
              <th>Previous</th>
              <th>Count</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
          {% for option in options %}         
            <tr data-rank="{{ option.rank }}" data-score="{{ option.score }}" data-place="{{ option.place }}">
              <td class="rank">
                {{ option.rank or "N/A" }}
              </td>
              <td>
                  <a href="/place/{{ option.slug }}/{{ option.risk }}/">{{ option.risk }}</a>
              </td>
              <td class="previous-results">
              {% if option.previous and option.previous.score %}
                  <span class="rank rank-previous">#{{ option.previous.rank }}</span>&nbsp;&nbsp;<span class="score score-previous" data-score="{{ option.previous.score }}">{{ option.previous.score }}%</span>
              {% else %}
                  N/A
              {% endif %}
              </td>
              <td>
                {{ option.count or "N/A"}} </span>
              </td>
              <td class="score" data-score="{{ option.score }}">
                <span>{{ option.score or "N/A"}}</span>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div id="map-container">
        {% include 'dataviews/embed_map.html' %}
      </div>
    </div>
    <div id="vis"></div>
    <script>var graphData = {{ graphData }}</script>
    <script type="text/javascript" src="/static/scripts/site/graphs.js"></script>
  </div>
  <br>
  <div>
  	<table id="place-slice-table" class="table data-table table-header-stuck">
      <thead>
		    <tr>
		      <th class="sort_place" title="Sort by A-Z">Place</th>
		      {% for risk in riskOpt %}
		        {% if risk.title %}
		          <th>
		            {{ risk.title }}
		          </th>
		        {% endif %}
		      {% endfor %}
		    </tr>
		  </thead>
		  <tbody>
		  {% for asn in asns %}
		    <tr>
		      <td>  
		        <a href="/place/{{ options[0].slug }}/asn/{{ asn.asn }}/" title="{{ asn.asn }}">
		          {{ asn.asn or 'N/A'}}
		        </a>
		      </td>
		      {% for risk in riskOpt %}
		        <td class="score">
		          <span>{{ asn[risk.risk_id] or 'N/A'}}</span>
		        </td>
		      {% endfor %}
		    </tr>
		  {% endfor %}
		  </tbody>
		</table>
  </div>
</section>

{% endblock content %}
