{% extends 'page.html' %}

{% set fragment = 'place' %}

{% block heading %}{% endblock heading %}

{% block breadcrumbs_inner %}
    <li class="active">Countries</li>
{% endblock breadcrumbs_inner %}

{% block content %}
<header id="place-intro" class="page-header">
  <h1>Country overview: {{ options[0].date }}</h1>
  <hr />
{% markdown %}
The following table lists countries scored by how well they are doing based on four different
criteria:

  * number of open recursive DNS devices (opendns)
  * number of open NTP devices (openntp)
  * number of open SSDP devices (openssdp)
  * number of open SNMP devices (opensnmp)

See also the [risks](/risk/) page for a detailed description.

Where there was no data, a "n/a" is shown.
Countries with two or more "n/a" colums were filtered out.

### The score

In the table below the number shown is the score for a country. This score is a value between 0 and 100, where a higher score means a worse performance; that is, a greater number of affected devices and a higher level of risk or infection. You can read more about the [score and how it is calculated here](/about#score).
{% endmarkdown %}
</header>

<div class="row">
  <div class="col-md-12">
    <h4>Search</h4>
    <form role="form" class="form-inline data-table-tools">
      <div class="form-group">
        <input class="form-control filter-table" type="search" name="filter-table" placeholder="Search for a country" />
      </div>
    </form>
  </div>
</div>

<div class="table-responsive">
  <table id="places_overview_table" class="table data-table table-header-stuck">
    <thead>
      <tr>
        <th class="sort_place" title="Sort by A-Z">Country</th>
        {% for risk in riskOpt %}
          <th>
            {{ risk.title }}
          </th>
          <th>
            {{ risk.title }} AF
          </th>
        {% endfor %}
        <th class="sort_place" title="Sort by A-Z">Total DDoS</th>
      </tr>
    </thead>
    <tbody>
    {% for country in countryOpt %}
      <tr data-place="{{ country.name }}">
        <td>  
          <a href="/country/{{ country.slug }}/" title="{{ country.name }}">
            {{ country.name |truncate(28) }}
          </a>
        </td>
        {% for risk in riskOpt %}
          <td>
            <span>{{ country[risk.id].count or "N/A"}}</span>
          </td>
          <td>
            <span>{{ country[risk.id].af_count or "N/A"}}</span>
          </td>
        {% endfor %}
        <td>
          {# total count hardcoded for now #}
          <span>{{ country[0].af_count or "N/A" }}</span>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
