{% extends 'page.html' %}

{% set fragment = 'ASN' %}

{% block heading %}{% endblock heading %}

{% block breadcrumbs_inner %}
  <li><a href="/place">Places</a></li>
  <li><a href="/place/{{ page.slug }}/">{{ page.name }}</a></li>
  <li class="active">{{ page.asn  }}</li>
{% endblock breadcrumbs_inner %}

{% block content %}

<header id="place-intro" class="page-header">
  <h1>ASN: {{ page.name  }} {{ page.asn  }}</h1>
</header>
{% for risk in risks %}
{{ risk.title }}<div id="vis{{risk.id}}"></div>
{% endfor %}
<script>var graphData = {{ graphData }}</script>
<script type="text/javascript" src="/static/scripts/site/graphs.js"></script>
<div class="table-responsive">
  <table id="places_overview_table" class="table data-table table-header-stuck">
    <thead>
      <tr>
        <th class="sort_place" title="Sort by A-Z">Date</th>
        <th class="sort_place" title="Sort by A-Z">Open NTP</th>
        <th class="sort_place" title="Sort by A-Z">Open DNS</th>
        <th class="sort_place" title="Sort by A-Z">Open SSDP</th>
        <th class="sort_place" title="Sort by A-Z">Spam</th>
      </tr>
    </thead>
    <tbody>
        {% for entry in entries %} 
          <tr>
            <td>  
              <span>{{ entry.month }}</span>               
            </td>
            <td class="score" >  
              <span>{{ entry.openntp }}</span>
            </td>
            <td class="score">  
              <span>{{ entry.opendns }}</span>
            </td>
            <td class="score">  
              <span>{{ entry.openssdp }}</span>
            </td>
            <td class="score">  
              <span>{{ entry.spam }}</span>
            </td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div
{% endblock content %}
