{% extends 'page.html' %}

{% set fragment = 'place' %}

{% block heading %}{% endblock heading %}

{% block breadcrumbs_inner %}
    <li class="active">Countries</li>
{% endblock breadcrumbs_inner %}

{% block content %}
<header id="place-intro" class="page-header">
  <h1>Country overview: {{ options[0].date }}</h1>
</header>

<!--<h1>Global DDOS potential</h1>-->
<div id="viscount_amplified"></div>
<script type="text/javascript" >
	var graphData = {{ graphData }}
	var graphRisks = {{ graphRisks }}
  var height = 400
</script>
<!--<script type="text/javascript" src="/static/scripts/site/graphs.js"></script>-->
<div class="row">
  <div class="col-md-12">
    <h4>Search</h4>
    <form role="form" class="form-inline data-table-tools">
      <div class="form-group">
        <input class="form-control filter-table" type="search" name="filter-table" placeholder="Search for a country" />
      </div>
    </form>
  </div>
</div>

<div class="table-responsive">
  <table id="places_overview_table" class="table data-table table-header-stuck">
    <thead>
      <tr>
        <th class="sort_place" title="Sort by A-Z">Country</th>
        {% for risk in riskOpt %}
          <th>
            {{ risk.title }}
          </th>
          <th>
            {{ risk.title }} AF
          </th>
        {% endfor %}
        <th class="sort_place" title="Sort by A-Z">Total DDoS</th>
      </tr>
    </thead>
    <tbody>
    {% for country in countryOpt %}
      <tr data-place="{{ country.name }}">
        <td>  
          <a href="/country/{{ country.slug }}/" title="{{ country.name }}">
            {{ country.name |truncate(28) }}
          </a>
        </td>
        {% for risk in riskOpt %}
          <td>
            <span>{{ country[risk.id].count or "N/A"}}</span>
          </td>
          <td>
            <span>{{ country[risk.id].af_count or "N/A"}}</span>
          </td>
        {% endfor %}
        <td>
          {# total count hardcoded for now #}
          <span>{{ country[0].af_count or "N/A" }}</span>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
