{% extends 'page.html' %}
{% from 'macros.html' import share %}
{% set fragment = 'place / {{ options[0].slug }}' %}

{% block heading %}{% endblock heading %}

{% block breadcrumbs_inner %}
  <li><a href="/country">Countries</a></li>
  <li class="active">{{ options[0].name }}</li>
{% endblock breadcrumbs_inner %}

{% block content %}
  <div class="col-md-6">
    <script>
      var countries = {{countries}}
      var countryPerformanceOnRiskViews = {{countryPerformanceOnRiskViews}}
    </script>
    <div id="root"></div>
    <script type="text/javascript" src="/static/vendor/cg-graphs/index.min.js"></script>
  </div>

{% endblock content %}
