{% extends 'page.html' %}

{% from 'macros.html' import history, share %}

{% set fragment = 'risk/' %}

{% block heading %}{% endblock heading %}

{% block breadcrumbs_inner %}
  <li><a href="/risk/">Risks</a></li>
  <li class="active">{{ options[0].risk_title }}</li>
{% endblock breadcrumbs_inner %}

{% block content %}


<section id="data-header">
  <div class="row">
    <div class="col-md-6">
      <h1>
        <a href="/risk/{{ options[0].risk }}/">{{ options[0].risk_title|truncate(60) }}</a>
      </h1>
      <div class="row navigate">
        <div class="col-md-12">
          <section class="risk-about">
{% markdown %}
{{ options[0].risk_description }}
{% endmarkdown %}
          </section>
            {{ share(fragment, with_embed=True) }}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div id="map-container">
        {% include 'dataviews/embed_map.html' %}
      </div>
    </div>
  </div>
</section>

<hr />

<section id="dataset-slice-table">
<div class="table-responsive">
    <table id="slice-table" class="table data-table table-header-stuck">
        <col style="width:20%">
        <col style="width:30%">
        <col style="width:25%">
        <col style="width:25%">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Place</th>
                <th>Devices</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
        {% for option in options %}
                
              <tr data-rank="{{ option.rank }}" data-score="{{ option.score }}" data-place="{{ option.place.slug }}">
                  <td>
                      {{ option.rank or 'N/A'}}
                  </td>
                  <td>
                    <a href="/country/place/{{ option.slug }}/{{ options[0].risk }}/">{{ option.name }}</a>
                  </td>
                  <td data-score="{{ option.count }}">
                      <span>{{ option.count or N/A}}</span>
                  </td>
                  <td class="score" data-score="{{ option.score or cgr.na }}">
                      <span>{{ option.score }}</span>
                  </td>
              </tr>

        {% endfor %}
        </tbody>
    </table>
</div>

</section>

{% endblock content %}
