{% extends 'page.html' %}

{% from 'macros.html' import history, share %}

{% set fragment = 'risk/' %}

{% block heading %}{% endblock heading %}

{% block breadcrumbs_inner %}
  <li><a href="{{ SITEURL }}/risk/">Risks</a></li>
  <li class="active">{{ scope.risk.title }}</li>
{% endblock breadcrumbs_inner %}

{% block content %}


<section id="data-header">
    <div class="row">
        <div class="col-md-6">
            <h1>
                <a href="{{ SITEURL }}/risk/{{ scope.risk.title }}/">{{ scope.risk.title|truncate(60) }}</a>
            </h1>
            {% set risk = scope.risks|search({'id': scope.risk.title})%}
            <div class="row navigate">
              <div class="col-md-12">
                <section class="risk-about">
                  {{ risk.description }}
                </section>
                  {{ share(scope, fragment, with_embed=True) }}
              </div>
            </div>
        </div>
    </div>
</section>

<hr />

<section id="dataset-slice-table">
<div class="table-responsive">
    <table id="slice-table" class="table data-table table-header-stuck">
        <col style="width:20%">
        <col style="width:30%">
        <col style="width:25%">
        <col style="width:25%">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Place</th>
                <th>Devices</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in scope.entries %}

          {% set place = scope.places|where({'id': entry.place})%}

            {% if place %}
                
              <tr data-rank="{{ entry.rank }}" data-score="{{ entry.score }}" data-place="{{ entry.place.slug }}">
                  <td>
                      {{ entry.rank}}
                  </td>
                  <td>
                    <a href="{{ SITEURL }}/place/{{ entry.place.slug }}/{{ scope.risk.id }}/">{{ entry.place }}</a>
                  </td>
                  <td data-score="{{ entry.count or scope.cgr.na }}">
                      <span>{% if entry.count %}{{ entry.count }}{% else %}{{ scope.cgr.na }}{% endif %}</span>
                  </td>
                  <td class="score" data-score="{{ entry.score or scope.cgr.na }}">
                      <span>{% if entry.score %}{{ entry.score }}{% else %}{{ scope.cgr.na }}{% endif %}</span>
                  </td>
              </tr>
            {% endif %}

        {% endfor %}
        </tbody>
    </table>
</div>

</section>

{% endblock content %}
